h3 {

color: red;

}

#wings {
    color:black;
}

#zoro {
 color: green;

}

#sanji{
    color: yellow;
}

#chopper{
    color: rgb(247, 0, 218);
}

#nami{
    color: orangered;
}

#franky{
    color: aqua;
}

#robin{
    color:purple;
}

#brook{
    color:teal;
}

#jimbe{
    color:cornflowerblue;
}