h3 {



}

#wings {
    color:black;
}

#zoro {
 color: green;

}

#sanji{
    color: yellow;
}

#chopper{
    color: rgb(247, 0, 218);
}

#nami{
    color: orangered;
}

#franky{
    color: aqua;
}

#robin{
    color:purple;
}

#brook{
    color:teal;
}

#jimbe{
    color:cornflowerblue;
}

#lufffy{
  width:100%;
  height:100%;
  object-fit:contain; 
  
}

h1 {
    text-align: center;
}

#strawhat{
    width:100%;
    height:100%;
    object-fit:contain; 
    
  }
